<table class="table table-bordered bg-dark text-info">
    <tr>
        <th>Id :</th>
        <td>{{registration.id}}</td>
    </tr>
    <tr>
        <th>Name :</th>
        <td>{{registration.name}}</td>
    </tr>
    <tr>
        <th>Mobile No :</th>
        <td>{{registration.mobileNo}}</td>
    </tr>
    <tr>
        <th>Email :</th>
        <td>{{registration.email}}</td>
    </tr>
    <tr>
        <th>Address :</th>
        <td>{{registration.address}}</td>
    </tr>
    <tr>
        <th>Gender :</th>
        <td>{{registration.gender === 'M' ? 'Male' : 'Female'}}</td>
    </tr>
    <tr>
        <th>Course :</th>
        <td>{{registration.course.courseName}}</td>
    </tr>
</table>