<div class="container">
  <div class="row form-group">
    <div class="col">
      <app-registration></app-registration>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <app-message></app-message>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <app-message 
      [message]="'denish'"
      (getFormattedMessage)="setMessage($event)"
      >        
      </app-message>
    </div>
    <div class="col">
      {{newMSg}}
    </div>
  </div>
</div>