<app-my-grid 
    [dataList]="deptList"
    [headerList]="headerList"
    [fieldList]="fieldList"
    [text-color]="'warning'"
    [bg-color]="'secondary'"
>
</app-my-grid>
<!-- <table class="table table-bordered">
        <thead>
            <tr>
                <th>Dept #</th>
                <th>Dept Name</th>            
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of deptList">
                <td>{{dept.id}}</td>
                <td>{{dept.deptName}}</td>                
            </tr>
        </tbody>
    </table> -->