<div class="row form-group">
    <div class="col-sm-4">
        Enter Number 1 : 
    </div>
    <div class="col-sm-4">
        <input type="number" name=num1 #num1 class="form-control">
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        Enter Number 2 : 
    </div>
    <div class="col-sm-4">
        <input type="number" name=num2 #num2 class="form-control">
    </div>
</div>
<div class="row form-group">
    <div class="col">
        <button class="btn btn-info m-1" (click)="add(num1.value,num2.value)">+</button>
        <button class="btn btn-dark m-1" (click)="sub()">-</button>
        <button class="btn btn-success m-1" (click)="div()">/</button>
        <button class="btn btn-warning m-1" (click)="mul()">*</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" #res>        
        <app-number-util></app-number-util>
    </div>
</div>