<div class="card">
    <div class="card-header bg-success">
        Education Details
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>University</th>
                    <th>Degree</th>
                    <th>Per</th>
                </tr>
                <tr *ngFor="let education of educationList;let k=index">
                    <td>{{education.year}} == {{k}}</td>
                    <td>{{education.uni}}</td>
                    <td>{{education.degree}}</td>
                    <td>{{education.per}}</td>
                </tr>
            </thead>
        </table>
    </div>
</div>